$color-white: #FFFFFF;
$color-red: #DF2626;
$color-yellow: #FFCE00;
$color-black: #000000;

$font-inter: 'Inter';
$font-roboto: 'Roboto';
$cursor: url(.././images/foto/cursor.svg);

$padding-section-desktop: 50px;
$padding-section-tablet: 40px;
$padding-section-mobile: 40px 20px 20px 20px;


$desktop-size: 1380px;
$status-desktop-size: 970px;
$status-tablet-size: 768px;
$tablet-size: 700px;
$status-mobile-size: 500px;
$mobile-size: 320px;