@import '../vendor/fonts.css';
@import '../vendor/normalize.css';
.page {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 1440px;
  max-height: 84px;
  margin: 0 auto;
  padding: 15px 50px 18px 50px;
  background-color: #DF2626;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 784px;
    max-height: 84px;
    padding: 25px 40px 25px 40px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 20px 20px 20px 20px;
  }
}
.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container_hidden {
  display: none;
}
.header__logo {
  height: 40px;
  width: 40px;
  cursor: url(.././images/foto/cursor.svg), pointer;
}
@media screen and (max-width: 768px) {
  .header__logo {
    height: 36px;
    width: 36px;
  }
}
@media screen and (max-width: 500px) {
  .header__logo {
    height: 30px;
    width: 30px;
    z-index: 10;
  }
}
.header__logo:hover {
  animation: rotation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-direction: reverse;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.header__menu-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu-button {
    display: block;
    width: 32px;
    height: 24px;
    background-image: url(/images/foto/menu.svg);
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: url(.././images/foto/cursor.svg), pointer;
    color: #FFFFFF;
  }
}
.header__menu {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__list {
  margin: 0;
  padding: 0;
  width: 351px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__list {
    margin-left: 40px;
  }
}
@media screen and (max-width: 500px) {
  .header__list {
    display: grid;
    gap: 17px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 76px 0 30px 0;
  }
}
.header__link {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Inter";
  cursor: url(.././images/foto/cursor.svg), pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.header__link:hover {
  font-weight: 700;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: none;
    background-color: #DF2626;
    min-height: 84px;
    margin: 0;
    padding: 0;
    align-items: center;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header__burger {
    max-height: 198px;
    justify-content: center;
    align-items: center;
  }
}
.header__burger_opened {
  display: flex;
  max-height: 198px;
}
.header__burger-menu {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header__burger-menu {
    margin-left: 40px;
  }
}
@media screen and (max-width: 500px) {
  .header__burger-menu {
    width: 100%;
    display: flex;
    max-width: 320px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__burger-close {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 35px;
    border: 0;
    background-image: url("/images/foto/close button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: url(.././images/foto/cursor.svg), pointer;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 500px) {
  .header__burger-close {
    top: 21px;
    right: 16px;
  }
}

.photography {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, 1fr);
  background-color: #FFFFFF;
}
@media screen and (max-width: 1380px) {
  .photography {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .photography {
    padding: 40px 20px 20px 20px;
  }
}
.photography__title {
  margin: 0;
  padding: 0;
  max-width: 624px;
  max-height: 224px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 700px) {
  .photography__title {
    font-size: 47px;
    line-height: 56px;
  }
}
.photography__description {
  grid-column: 1/2;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photography__subtitle {
  margin: 0;
  padding: 0 0 0 4px;
  max-width: 469px;
  max-height: 56px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  grid-column: 1/2;
  grid-row: 2/2;
}
@media screen and (max-width: 1380px) {
  .photography__subtitle {
    margin: 0 0 60px 0;
  }
}
@media screen and (max-width: 700px) {
  .photography__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 36px 0;
  }
}
.photography__more-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 11px 67px 10px 68px;
  max-width: 228px;
  max-height: 49px;
  background: #FFFFFF;
  cursor: url(/images/foto/cursor.svg), pointer;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  grid-column: 1/2;
  grid-row: 3/3;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 700px) {
  .photography__more-button {
    max-width: 169px;
    max-height: 40px;
    font-size: 14px;
    padding: 6px 48px 6px 48px;
  }
}
.photography__more-button:hover {
  font-weight: 500;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.photography__text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
}
.photography__main-illustration {
  width: 100%;
  max-width: 642px;
  max-height: 555px;
  grid-column: 2/3;
  grid-row: 1/3;
}
@media screen and (max-width: 768px) {
  .photography__main-illustration {
    max-width: 688px;
    max-height: 594px;
  }
}
@media screen and (max-width: 1380px) {
  .photography__main-illustration {
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 320px) {
  .photography__main-illustration {
    max-width: 280px;
    max-height: 242px;
  }
}

.composition {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 78px 228px 1fr 189px;
  background-color: #FFCE00;
}
@media screen and (max-width: 1380px) {
  .composition {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .composition {
    padding: 40px 20px 20px 20px;
  }
}
.composition__lead {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 1380px) {
  .composition__lead {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 700px) {
  .composition__lead {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
    border-top: 1px solid #000000;
  }
}
.composition__title {
  max-width: 403px;
  color: #000000;
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (max-width: 700px) {
  .composition__title {
    font-size: 30px;
    line-height: 38px;
  }
}
.composition__image {
  width: 100%;
  max-width: 642px;
  max-height: 685px;
  grid-column: 2/3;
  grid-row: 1/4;
}
@media screen and (max-width: 768px) {
  .composition__image {
    max-width: 688px;
  }
}
@media screen and (max-width: 1380px) {
  .composition__image {
    margin: 60px 0 60px 0;
  }
}
@media screen and (max-width: 320px) {
  .composition__image {
    max-width: 280px;
    max-height: 278px;
  }
}
.composition__description {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.composition__text-paragraph {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0 0 20px 0;
  max-width: 374px;
  color: #000000;
}
@media screen and (max-width: 700px) {
  .composition__text-paragraph {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 36px 0;
  }
}
.composition__text-paragraph:nth-child(2) {
  max-width: 350px;
}
.composition__span-accent {
  color: #000000;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 700px) {
  .composition__span-accent {
    font-size: 14px;
    line-height: 18px;
  }
}
.composition .enroll-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 9px 0 10px 0;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 9999px;
  width: 228px;
  height: 49px;
  cursor: url(/images/foto/cursor.svg), pointer;
  text-align: center;
}
@media screen and (max-width: 1380px) {
  .composition .enroll-button {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 700px) {
  .composition .enroll-button {
    font-size: 14px;
    width: 169px;
    height: 40px;
    padding: 6px 0 6px 0;
  }
}
.composition .enroll-button:hover {
  font-weight: 500;
}
.composition__regulations {
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 291px);
  grid-column: 1/3;
  grid-row: 4/5;
  gap: 56px;
}
@media screen and (max-width: 1380px) {
  .composition__regulations {
    display: block;
    margin: 50px 0 0 0;
  }
}
.composition__text-regulation {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: #000000;
  max-width: 291px;
  max-height: 84px;
}
@media screen and (max-width: 1380px) {
  .composition__text-regulation {
    border-bottom: 1px solid #000000;
    padding: 0 0 29px 0;
    margin: 30px 0 0 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .composition__text-regulation {
    font-size: 14px;
    line-height: 18px;
    margin: 14px 0 0 0;
    padding: 0 0 14px 0;
  }
}
.composition__text-regulation:last-child {
  border-bottom: none;
  padding: 0;
}

.shooting {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 78px 367px 387px 1fr;
  background-color: #000000;
}
@media screen and (max-width: 1380px) {
  .shooting {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .shooting {
    padding: 40px 20px 20px 20px;
  }
}
.shooting__name {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 1380px) {
  .shooting__name {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 700px) {
  .shooting__name {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
    border-top: 1px solid #FFFFFF;
  }
}
.shooting__title-section {
  grid-column: 1/2;
  grid-row: 2/3;
}
.shooting__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 122px;
  font-weight: 400;
  line-height: 122px;
}
@media screen and (max-width: 700px) {
  .shooting__title {
    font-size: 48px;
    line-height: 56px;
  }
}
.shooting__image {
  width: 100%;
  max-width: 642px;
  max-height: 832px;
  grid-column: 2/3;
  grid-row: 1/4;
}
@media screen and (max-width: 768px) {
  .shooting__image {
    max-width: 688px;
    max-height: 656px;
  }
}
@media screen and (max-width: 1380px) {
  .shooting__image {
    margin: 60px 0 60px 0;
  }
}
@media screen and (max-width: 320px) {
  .shooting__image {
    max-width: 280px;
    max-height: 268px;
  }
}
.shooting__part-title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: end;
}
@media screen and (max-width: 1380px) {
  .shooting__part-title {
    align-self: start;
  }
}
@media screen and (max-width: 700px) {
  .shooting__part-title {
    font-size: 14px;
    line-height: 20px;
  }
}
.shooting__part {
  margin: 180px 0 0 0;
}
@media screen and (max-width: 700px) {
  .shooting__part {
    margin: 60px 0 30px 0;
  }
}
@media screen and (max-width: 1380px) {
  .shooting__part:last-child {
    border-top: 1px solid #ffffff;
    max-width: 100%;
    margin: 60px 0 0 0;
    padding: 60px 0 0 0;
  }
}
@media screen and (max-width: 700px) {
  .shooting__part:last-child {
    margin: 0;
    padding: 30px 0 0 0;
  }
}
.shooting__participant-text {
  max-width: 526px;
  margin: 0;
  padding-bottom: 60px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
}
@media screen and (max-width: 700px) {
  .shooting__participant-text {
    font-size: 24px;
    line-height: 26px;
  }
}
.shooting__participant {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0 0 10px 0;
  color: #FFFFFF;
}
.shooting__participant-instagram {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.search-orders {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  background-color: #FFFFFF;
}
@media screen and (max-width: 970px) {
  .search-orders {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .search-orders {
    padding: 40px 20px 20px 20px;
  }
}
.search-orders__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 700px) {
  .search-orders__subtitle {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
    border-top: 1px solid #000000;
  }
}
.search-orders__title {
  margin: 78px 0 106px 0;
  color: #000000;
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 970px) {
  .search-orders__title {
    margin: 40px 0 60px 0;
  }
}
@media screen and (max-width: 700px) {
  .search-orders__title {
    font-size: 32px;
    line-height: 38px;
    margin: 30px 0 0 0;
  }
}
.search-orders__image {
  width: 100%;
  max-width: 688px;
  max-height: 333px;
  grid-column: 1/2;
  grid-row: 2/2;
}
@media screen and (max-width: 970px) {
  .search-orders__image {
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 700px) {
  .search-orders__image {
    padding: 60px 0 60px 0;
  }
}
.search-orders__description {
  grid-column: 2/2;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
}
.search-orders__text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  grid-column: 2/2;
  grid-row: 2/2;
  color: #000000;
  height: 112px;
  width: 380px;
}
@media screen and (max-width: 970px) {
  .search-orders__text {
    padding: 0 0 60px 0;
  }
}
@media screen and (max-width: 700px) {
  .search-orders__text {
    height: 72px;
    width: 280px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 30px 0;
  }
}
.search-orders .enroll-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 9px 0 10px 0;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 9999px;
  height: 49px;
  width: 228px;
  cursor: url(/images/foto/cursor.svg), pointer;
  text-align: center;
}
.search-orders .enroll-button:hover {
  font-weight: 700;
}
@media screen and (max-width: 700px) {
  .search-orders .enroll-button {
    padding: 6px 0 6px 0;
    height: 40px;
    width: 169px;
    font-size: 14px;
  }
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  background-color: #DF2626;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 42px;
}
@media screen and (max-width: 970px) {
  .footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 40px 20px 20px 20px;
  }
}
.footer__arrow {
  padding-top: 10px;
}
@media screen and (max-width: 970px) {
  .footer__arrow {
    display: none;
  }
}
.footer__title-container {
  display: flex;
  grid-column: 2/3;
}
.footer__title {
  color: #FFFFFF;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 0 120px;
  max-width: 690px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
}
@media screen and (max-width: 970px) {
  .footer__title {
    margin: 0 0 190px 0;
    max-width: 571px;
    font-size: 100px;
    line-height: 100px;
  }
}
@media screen and (max-width: 700px) {
  .footer__title {
    max-width: 274px;
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
    margin-bottom: 200px;
    font-size: 48px;
    line-height: 50px;
  }
}
.footer__enroll {
  display: flex;
  grid-column: 2/3;
}
.footer__email {
  color: #000000;
  background-color: #FFFFFF;
  border-right: none;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding: 0 0 0 20px;
  width: 348px;
  height: 46px;
  border-radius: 8px 0 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: url(.././images/foto/cursor.svg), pointer;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.375px;
}
@media screen and (max-width: 700px) {
  .footer__email {
    width: 168px;
    font-size: 11px;
  }
}
.footer .enroll-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 9px 0 10px 0;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 9999px;
  height: 49px;
  width: 228px;
  cursor: url(/images/foto/cursor.svg), pointer;
  text-align: center;
}
.footer .enroll-button_size_footer {
  border-radius: 0 8px 8px 0;
  width: 205px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0.375px;
}
@media screen and (max-width: 700px) {
  .footer .enroll-button_size_footer {
    width: 107px;
    font-size: 11px;
  }
}
.footer .enroll-button_size_footer:hover {
  font-weight: 700;
}
.footer__copyleft {
  color: #FFFFFF;
  margin: 86px 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
@media screen and (max-width: 970px) {
  .footer__copyleft {
    margin: 80px 0 0 0;
  }
}
@media screen and (max-width: 700px) {
  .footer__copyleft {
    margin-top: 40px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
